<%= form_with model: @user, url: ed_sub_path(id: params[:id], fr_pe: @free_prep) do |form| %>
  <table>
    <tr>
      <div class="mb-3">
        <td> <%= form.label value = t('.subject') %> </td>
        <td> <%= form.text_field :subj %> </td>
      </div>
    </tr>
    <tr>
      <div class="mb-3">
        <td> <%= form.label value = t('.prepod') %> </td>
        <td> <%= form.select :prepodovat, @free_prep.each, include_blank: true %> </td>
      </div>
    </tr>
    <tr>
      <div class="mb-3">
        <td> <%= form.submit "#{t('.sub1')}", class: "btn btn-success" %> </td>
        <td> <%= link_to "#{t('.sub2')}", administration_path , class: "btn btn-warning" %> </td>
      </div>
    </tr>
  </table>

<% end %>