<h1> <%= t('.title') %> </h1>
  <%= form_with url: password_reset_path do |form| %>

    <div class="mb-3">
      <%= form.label value = t('.email') %>
      <%= form.text_field :email, class: "form-control", placeholder: "student@bmstu.ru" %>
    </div>

    <div class="mb-3">
      <%= form.submit "#{t('.sub1')}", class: "btn btn-primary" %>
    </div>
<% end %>