<h1>Creating User</h1>

  <%= form_with model: @user, url: creatus_path do |form| %>



<div id="try"></div>
  
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div> 
    <%end%>
    
    <div id="try"></div>

    <div class="mb-3">
      <%= form.label value = t('.name') %>
      <%= form.text_field :name, class: "form-control", placeholder: "Ivan" %>
    </div>
    <div class="mb-3">
      <%= form.label value = t('.email') %>
      <%= form.text_field :email, class: "form-control", placeholder: "student@bmstu.ru" %>
    </div>
    <div class="mb-3">
      <%= form.label value = t('.pass') %>
      <%= form.password_field :password, class: "form-control", placeholder: "password"%>
    </div>
    <div class="mb-3">
      <%= form.label value = t('.pass_con') %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
      <%= form.submit "#{t('.sub1')}", class: "btn btn-primary", id: 'create_user-btn' %>
      <%= link_to "#{t('.sub2')}", administration_path , class: "btn btn-warning" %>
    </div>
    
<% end %>
