<h1> <%= t('.title') %> </h1>
    <%= form_with model: @user, url: admin_role_path(id: params[:id], role: params[:role]) do |form| %>


    <div class="mb-3">
      <%= form.label :id %>
      <%= form.text_field :id, class: "form-control", placeholder: "id" %>
    </div>

    <div class="mb-3">
        <%= form.submit "#{t('.sub1')}", class: "btn btn-success" %>
        <%= form.submit "#{t('.sub2')}",data: { turbo_confirm: 'Are you shure of deleting' }, class: "btn btn-danger" %>
        <%= form.submit "#{t('.sub3')}", class: "btn btn-warning" %>
        <%= form.submit "#{t('.sub4')}", class: "btn btn-warning" %>
    </div>


  <table class="table">
    <th>
      <%= t('.id') %> 
    </th>
    <th>
      <%= t('.name') %> 
    </th>
    <th>
      <%= t('.email') %> 
    </th>
    <th>
      <%= t('.role') %>  
    </th>

    <% @users_ids.each do |i|%>
      <tr>
        <td> <%= @users_all.find_by(:id => "#{i}")&.id %>  </td>
        <td> <%= @users_all.find_by(:id => "#{i}")&.name %>  </td>
        <td> <%= link_to @users_all.find_by(:id => "#{i}")&.email, profile_path(id: i) %> </td>
        <td> <%= @users_all.find_by(:id => "#{i}")&.role %>  </td>
      </tr>
    <% end %>
  </table>
<% end %>





