<div id='result_container'>

  <table class="table table-striped table-hover">
    <th><%= @pred.name %> </th>
    <th> <%= t('.text1') %> </th>
    <th> <%= t('.text2') %> </th>
    <th> <%= t('.text3') %> </th>
    <th> <%= t('.text4') %> </th>
    <th> <%= t('.text5') %> </th>
    <th> <%= t('.text6') %> </th>
    <th> <%= t('.text7') %> </th>
       
    <% if @cur_us.role == 'student' %>  
      <th> <%= t('.text8') %> </th>
    <% else %>
      <th> <%= t('.text9') %> </th>
    <% end %>


    <% @studs.each_with_index do |qr, index_for_test| %>
    <tr>
      <td><%= qr.user.name %></td>

        <% qr.list.where(predmet_id: @pred).first.jresult.each do |we| %> 
          <td><%= we %></td>
        <% end %>

      <td id="id<%= index_for_test %>"> 
      <% su = 0 %>
      <% qr.list.where(predmet_id: @pred).first.jresult.each do |i| su += i.to_i end%> <%= su %> 
        
    </td>
      <td>
      
      <%= form_with url: posetion_edit_path(id: qr.user.id, predmet_id: @pred.id ) do |form| %>
        <% if @cur_us.role == 'admin' %>
          <%= form.submit value: "#{t('.sub')}", class: "btn btn-info", id: "show_params-btn#{index_for_test}" %>
        <% elsif @cur_us.role == 'teacher' %>
          <% if @cur_us.id == @pred.teach.user_id %>
            <%= form.submit value: "#{t('.sub')}", class: "btn btn-info", id: "show_params-btn#{index_for_test}" %>
          <% else %>
            <%= form.submit value: "#{t('.sub')}", class: "btn btn-info disabled" %>
          <% end %>
        <% elsif @cur_us.role == 'student' %>
          <% if @cur_us.id == qr.user.id %>
            <%= form.submit value: "#{t('.sub')}", class: "btn btn-info", id: "show_params-btn#{index_for_test}" %>
          <% else %>
            <%= form.submit value: "#{t('.sub')}", class: "btn btn-info disabled" %>
          <% end %>
        <% end %>
      <% end %>

    </td>
    </tr> 

    <% end %>
      </table>
</div>
