<h1><%= t('.title') %></h1>

<%= form_with url: new_path do |f| %>
  <%= f.select :day, @week_days, include_blank: true, class: "form-select" %>
  <br>
  <br>
  <%= f.submit value: "#{t('.submi')}", class: "btn btn-info", id: 'show_schedule-btn' %>
<% end %>


<%= turbo_frame_tag 'remote_modal' %>
