<h1>Profile</h1>
<br>
<table class="table table-borderless">
    <th>
      <h3> <%= @user.name %> </h3>
    </th>
    <h5>
      <tr>
        <td> 
          <h5>Email:
        </td>
        <td>  <h5><%= @user.email %>  </h5> </td>
      </tr>
      <tr>
        <td>  <h5>Role: </h5> </td>
        <td>  <h5><%= @user.role %> </h5>  </td>
      </tr>
      <% if @user.role == 'teacher' %>
      <tr> <td>  </td></tr>
      <tr> <td>  </td></tr>

        <tr>
          <td>  <h5>Subject:  </h5></td>
        </tr>
          <% @user.teach.each do |sub| %>
            <td><h6> <%=link_to sub.predmet.name, sub_prof_path(id: Predmet.find_by(name: sub.predmet.name)) %>  </h6></td>
        </tr>
          <% end %>

      <% end %>
      
  </table>


<% if (User.present?) && (Current.user == User.find_by(id: params[:id])) %>
<% if (User.present?) && (Current.user.role == 'teacher') %>
  <%= form_with url: profile_hw_path  do |form| %>
    <%= form.text_field :dz, value: Current.user.teach.first.predmet.homework %>
    <%= form.submit "Save Homework", class: "btn btn-primary" %>
  <% end %>
<% end %>
  <%= link_to "Edit my password", edit_password_path %>
<% end %>
<br>
 <%= link_to "back", schedule_path , class: "btn btn-warning" %>
